
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;

    text-shadow: 1px 1px 2px #000;
    background: #000 linear-gradient(45deg, #1b1c40, #0a0b18);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }

}



header {
    background: #20232a;
    color: #fff;
    padding: 1rem 0;
    border-radius: 10px;
    border: 2px solid #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header .logo {
    font-size: 1.5rem;
    font-weight: 600;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header a:hover {
    color: #61dafb;
}

#hero {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff;
    text-align: center;
    padding: 4rem 1rem;
    animation: backgroundAnimation 10s infinite alternate;
    border-radius: 10px;
    border: 2px solid #fff;
}

#hero h1 {
    font-size: 4rem;
    font-weight: 700;
}

#hero .button {
    background: #61dafb;
    color: #20232a;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 1rem;
    transition: background 0.3s;
}

#hero .button:hover {
    background: #4e54c8;
    color: #fff;
}


section {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #fff;
}

#projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

#projects .project {
    background: #333;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    border: 2px solid #fff;
}

#projects .project:hover {
    transform: scale(1.05);
}

#projects .project h3 {
    margin-top: 0;
    font-size: 60rem;
    font-weight: 700;
    background: linear-gradient(to right, #f9d423, #ff4e50);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px #000;
}

#projects .project p {
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(to right, #f9d423, #ff4e50);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px #000;
}


footer {
    background: #20232a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 2px solid #fff;
}

/* Animations */
@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(to right, #4e54c8, #8f94fb);
    }
    100% {
        background: linear-gradient(to right, #8f94fb, #4e54c8);
    }
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
.banner-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: auto;
    margin-right: 0.5rem;
}


.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -2;
    transition: opacity 1s ease-in-out;
}

body:hover .video-background {
    opacity: 0.5;
}


#about {
    background: #20232a;
    color: #fff;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #fff;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-text {
    flex: 1;
    margin-right: 1rem;
}

.about-video {
    flex: 1;
}


#contact {
    background: #20232a;
    color: #fff;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 10px;
    border: 2px solid #fff;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-text {
    flex: 1;
    margin-right: 1rem;
}

widgetbot {
    flex: 1;
    margin-left: auto;
}


.gradient-text {
    font-weight: 700;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px #fff;
}

h2 {
    color: #fff;
}


.carousel {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #fff;
}

.carousel-track-container {
    display: flex;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    color: #fff;
    padding: 2rem;
}

.carousel-slide::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.carousel-slide:nth-child(1)::before {
    background-image: url('src/img/dawnofwalkers.jpg');
}

.carousel-slide:nth-child(2)::before {
    background-image: url('src/img/silence.png');
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}
.download-button {
    background-color: #ffcc00;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #e6b800;
}

.download-icon {
    width: 20px;
    height: auto;
}

/*Iconos de las redes de KK*/
/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #20232a;
    color: #fff;
    margin-top: 2rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.social-icon img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Cargador */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.loading-screen.active {
    opacity: 0;
    pointer-events: none;
}

.loading-logo {
    width: 150px;
}
